/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "RF Dewi Expanded";
  src: url("../fonts/RFDewiExpanded-Ultrabold.eot") format("eot"), url("../fonts/RFDewiExpanded-Ultrabold.woff") format("woff"), url("../fonts/RFDewiExpanded-Ultrabold.woff2") format("woff2");
}
@font-face {
  font-family: "RF Dewi";
  src: url("../fonts/RFDewiExpanded-Regular.eot") format("eot"), url("../fonts/RFDewiExpanded-Regular.woff") format("woff"), url("../fonts/RFDewiExpanded-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.eot") format("eot"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
}
.header {
  position: relative;
  min-height: 677px;
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 30px;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(17, 0, 0, 0.5);
  pointer-events: none;
  z-index: 100;
}
.header__content {
  width: 60%;
  min-height: 677px;
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: white;
  z-index: 200;
}
.header__title {
  font-family: "RF Dewi Expanded";
  text-align: center;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 120%;
  margin: 133px 0 50px;
}
.header__title span {
  display: block;
}

@media (min-width: 550px) and (max-width: 1028px) {
  .header__content {
    width: 90%;
  }
  .header__title {
    font-size: 5.83vw;
    margin: 189px 0 60px;
  }
}
@media (min-width: 1028px) and (max-width: 1205px) {
  .header__content {
    width: 93%;
  }
}
@media (min-width: 1205px) and (max-width: 1875px) {
  .header__content {
    width: 1125px;
  }
}
@media (min-width: 1875px) and (max-width: 2000px) {
  .header__content {
    width: 60%;
  }
}
.contacts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-style: normal;
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}
.contacts__link {
  color: inherit;
  font: inherit;
  text-decoration: none;
}
.contacts__label {
  font-family: "Inter", "RF Dewi", sans-serif;
  font-weight: 400;
  line-height: 150%;
}
.contacts__value {
  font-family: "RF Dewi Expanded", sans-serif;
  font-weight: 800;
  line-height: 120%;
}
.contacts__item_name {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.contacts__item_name .contacts__value {
  font-size: 25px;
  line-height: 21px;
}
.contacts__item_name .contacts__label {
  font-family: "RF Dewi", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
.contacts__item span {
  display: block;
}

@media (min-width: 550px) and (max-width: 680px) {
  .contacts_place_header {
    margin-top: 194px;
    order: 1000;
  }
  .contacts_place_footer {
    order: 1000;
    flex-direction: column;
    row-gap: 39px;
  }
  .contacts_place_footer .contacts__item_name {
    left: 0;
    transform: translateX(0);
  }
}
@media (min-width: 680px) and (max-width: 800px) {
  .contacts_place_header {
    margin-top: 184px;
    order: 1000;
  }
  .contacts_place_footer {
    order: 1000;
    flex-direction: column;
    row-gap: 39px;
  }
  .contacts_place_footer .contacts__item_name {
    left: 0;
    transform: translateX(0);
  }
}
@media (min-width: 800px) and (max-width: 920px) {
  .contacts_place_header {
    margin-top: 164px;
    order: 1000;
  }
  .contacts_place_footer {
    order: 1000;
    flex-direction: column;
    row-gap: 39px;
  }
  .contacts_place_footer .contacts__item_name {
    left: 0;
    transform: translateX(0);
  }
}
@media (min-width: 920px) and (max-width: 1028px) {
  .contacts_place_header {
    margin-top: 154px;
    order: 1000;
  }
  .contacts_place_footer {
    order: 1000;
    flex-direction: column;
    row-gap: 39px;
  }
  .contacts_place_footer .contacts__item_name {
    left: 0;
    transform: translateX(0);
  }
}
.clothes-order {
  font-family: "RF Dewi Expanded";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 120%;
  color: #353535;
  padding: 22px 36px;
  border-radius: 10px;
  background: #F4DF74;
  border-color: #F4DF74;
}

@media (min-width: 550px) and (max-width: 1028px) {
  .clothes-order_place_footer {
    margin-top: 78px;
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(251px, 1fr));
  -moz-column-gap: 35px;
       column-gap: 35px;
  row-gap: 38px;
  color: #000000;
}
.cards__image {
  max-height: 348px;
  max-width: 352px;
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards__text {
  font-family: "RF Dewi";
  font-size: 24px;
  line-height: 120%;
  text-align: left;
  margin: 21px 0px 0px;
}
.cards__price {
  position: relative;
  top: -17px;
  left: 15px;
  font-family: "RF Dewi";
  font-size: 18px;
  line-height: 120%;
}

@media (min-width: 550px) and (max-width: 950px) {
  .cards {
    grid-template-columns: repeat(2, minmax(251px, 1fr));
  }
}
.price {
  width: 1125px;
  margin: 120px auto 0;
}

@media (min-width: 550px) and (max-width: 1028px) {
  .price {
    width: 90%;
    margin-top: 80px;
  }
}
@media (min-width: 1028px) and (max-width: 1205px) {
  .price {
    width: 93%;
    margin-top: 90px;
  }
}
.presentation {
  margin-top: 100px;
}
.presentation_theme_light {
  background-image: linear-gradient(#FFFFFF 0% 50%, #EEEEEE 50%);
}
.presentation_theme_dark {
  background-image: linear-gradient(#FFFFFF 0% 50%, #191919 50%);
}
.presentation__art {
  width: 1125px;
  height: 350px;
  margin: 0 auto 0;
  border-radius: 15px;
  position: relative;
}
.presentation__art_theme_light {
  background-image: url("../images/presentation_theme_light.jpg");
  background-size: 150% auto;
  background-position: 45% 45%;
}
.presentation__art_theme_light::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(17, 0, 0, 0.4);
  pointer-events: none;
  border-radius: 15px;
  z-index: 100;
}
.presentation__art_theme_dark {
  background-image: url("../images/tshirrt.jpg"), url("../images/mask.jpg");
  background-size: 50.2% auto, 50.2% auto;
  background-position: left center, right center;
  background-repeat: no-repeat;
}
.presentation__art_theme_dark::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(17, 0, 0, 0.65);
  border-radius: 15px;
  pointer-events: none;
  z-index: 100;
}
.presentation__title {
  font-family: "RF Dewi Expanded";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  position: relative;
  color: #FFFFFF;
  z-index: 200;
}
.presentation__title span {
  display: block;
}
.presentation__title_theme_light {
  top: 80px;
}
.presentation__title_theme_dark {
  top: 95px;
}
.presentation__ellipse {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../images/vector.svg");
  background-position: 56% center;
  background-repeat: no-repeat;
  z-index: 200;
}
.presentation__text {
  width: 63%;
  margin: 0 auto 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  top: 30%;
  z-index: 200;
}

@media (min-width: 550px) and (max-width: 670px) {
  .presentation {
    margin-top: 80px;
  }
  .presentation__art {
    width: 90%;
  }
  .presentation__art_theme_light {
    background-size: 230% auto;
    background-position: 45% 30%;
  }
  .presentation__art_theme_dark {
    height: 270px;
  }
  .presentation__title_theme_dark {
    top: 38px;
  }
  .presentation__text {
    width: 96%;
    top: 15%;
  }
}
@media (min-width: 670px) and (max-width: 750px) {
  .presentation {
    margin-top: 80px;
  }
  .presentation__art {
    width: 90%;
  }
  .presentation__art_theme_light {
    background-size: 200% auto;
    background-position: 45% 30%;
  }
  .presentation__art_theme_dark {
    height: 270px;
  }
  .presentation__title_theme_dark {
    top: 38px;
  }
  .presentation__text {
    width: 95%;
    top: 15%;
  }
}
@media (min-width: 750px) and (max-width: 870px) {
  .presentation {
    margin-top: 80px;
  }
  .presentation__art {
    width: 90%;
  }
  .presentation__art_theme_light {
    background-size: 180% auto;
    background-position: 45% 30%;
  }
  .presentation__art_theme_dark {
    height: 270px;
  }
  .presentation__title_theme_dark {
    top: 38px;
  }
  .presentation__text {
    width: 95%;
    top: 15%;
  }
}
@media (min-width: 870px) and (max-width: 1028px) {
  .presentation {
    margin-top: 80px;
  }
  .presentation__art {
    width: 90%;
  }
  .presentation__art_theme_light {
    background-size: 170% auto;
    background-position: 45% 35%;
  }
  .presentation__text {
    width: 85%;
  }
}
@media (min-width: 1028px) and (max-width: 1205px) {
  .presentation__art {
    width: 93%;
  }
  .presentation__art_theme_light {
    background-size: 160% auto;
    background-position: 45% 40%;
  }
}
.section-header {
  width: 100%;
  text-align: center;
  font-style: normal;
  color: #191919;
}
.section-header__title {
  margin-top: 0;
  font-family: "RF Dewi Expanded";
  font-weight: 800;
  font-size: 48px;
  line-height: 110%;
}
.section-header__title span {
  display: block;
}
.section-header__description {
  width: 64%;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin: 75px auto 96px;
}

@media (min-width: 550px) and (max-width: 1028px) {
  .section-header__title {
    font-size: 5.83vw;
  }
  .section-header__description {
    width: 100%;
    margin-bottom: 76px;
  }
}
.cooperation {
  background-color: #EEEEEE;
}
.cooperation__content {
  margin: 0 auto 0;
  padding-top: 120px;
  padding-bottom: 120px;
  width: 1125px;
}
.cooperation .gallery {
  grid-template-columns: repeat(3, 1fr);
}
.cooperation .gallery__image {
  max-height: 211px;
}

@media (min-width: 550px) and (max-width: 1028px) {
  .cooperation__content {
    width: 90%;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .cooperation .gallery {
    grid-template-columns: repeat(1, 58.5vw);
    justify-content: center;
  }
}
@media (min-width: 1028px) and (max-width: 1205px) {
  .cooperation__content {
    width: 93%;
  }
  .cooperation .gallery {
    grid-template-columns: repeat(1, 58.5vw);
    justify-content: center;
  }
}
.gallery {
  display: grid;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.gallery__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
.gallery__title {
  font-family: "RF Dewi Expanded";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #191919;
}
.gallery__title span {
  display: block;
}
.gallery__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #191919;
}

.decoration {
  width: 1125px;
  margin: 120px auto 120px;
}
.decoration .gallery {
  grid-template-columns: repeat(2, 1fr);
}
.decoration .gallery__image {
  max-height: 316px;
}

@media (min-width: 550px) and (max-width: 1028px) {
  .decoration {
    width: 90%;
    margin: 80px auto 80px;
  }
  .decoration .gallery {
    grid-template-columns: repeat(1, 65.8vw);
    justify-content: center;
  }
  .decoration .gallery__image {
    height: 229px;
  }
}
@media (min-width: 1028px) and (max-width: 1205px) {
  .decoration {
    width: 93%;
  }
  .decoration .gallery {
    grid-template-columns: repeat(1, 65.8vw);
    justify-content: center;
  }
}
.work {
  background-color: #191919;
  border-color: #191919;
  margin-top: -5px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.work__content {
  width: 690px;
  margin: 0 auto 0;
  color: #FFFFFF;
}
.work__title {
  font-family: "RF Dewi Expanded";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  margin-top: 0;
}
.work__description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 70px;
}
.work__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.work__icon {
  position: relative;
  width: 114px;
  height: 114px;
  margin: 0 auto 0;
  background-image: url("../images/round.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.work__icon_step_request::after {
  content: "";
  display: block;
  width: 46.5px;
  height: 42.7px;
  background-image: url("../images/request.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work__icon_step_design::after {
  content: "";
  display: block;
  width: 49px;
  height: 48px;
  background-image: url("../images/design.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work__icon_step_decoration::after {
  content: "";
  display: block;
  width: 40.5px;
  height: 37.25px;
  background-image: url("../images/decor.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work__icon_step_delivery::after {
  content: "";
  display: block;
  width: 46px;
  height: 32px;
  background-image: url("../images/delivery.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.work__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

@media (min-width: 550px) and (max-width: 770px) {
  .work {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .work__content {
    width: 83%;
  }
  .work__items {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 90px;
         column-gap: 90px;
  }
}
@media (min-width: 770px) and (max-width: 1028px) {
  .work {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.manufacturing {
  width: 1125px;
  margin: 0 auto 0;
  padding-top: 120px;
  padding-bottom: 120px;
}

@media (min-width: 550px) and (max-width: 1028px) {
  .manufacturing {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 90%;
  }
  .manufacturing .section-header__description {
    margin: 69px auto 72px;
  }
}
@media (min-width: 1028px) and (max-width: 1205px) {
  .manufacturing {
    width: 93%;
  }
  .manufacturing .section-header__description {
    margin: 69px auto 72px;
  }
}
.shop {
  background: linear-gradient(#FFFFFF 22%, #191919 22%);
  padding-bottom: 80px;
  margin-bottom: -10px;
}
.shop__content {
  width: 1125px;
  background: #E6E6E6;
  border-radius: 15px;
  margin: 0 auto 0;
  padding-top: 83px;
}
.shop__title {
  font-family: "RF Dewi Expanded";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  color: #1A1A1A;
  margin: 0 auto 35px;
}
.shop__title span {
  display: block;
}
.shop__description {
  width: 55%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  color: #1A1A1A;
  margin: 0 auto 60px;
}
.shop__location {
  display: flex;
}
.shop__location-item {
  width: 50%;
  height: 472px;
  position: relative;
}
.shop__location-item_spb .shop__photo {
  width: 100%;
  height: 472px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom-left-radius: 15px;
}
.shop__location-item_msk .shop__photo {
  width: 100%;
  height: 472px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom-right-radius: 15px;
}
.shop__location-title {
  font-family: "RF Dewi Expanded";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.shop__location-title span {
  display: block;
}

@media (min-width: 550px) and (max-width: 1028px) {
  .shop {
    background: linear-gradient(#FFFFFF 13%, #191919 13%);
  }
  .shop__content {
    width: 90%;
    padding-top: 63px;
  }
  .shop__title {
    font-size: 42px;
  }
  .shop__location {
    display: block;
  }
  .shop__location-item {
    width: 100%;
  }
  .shop__location-item_spb .shop__photo {
    border-radius: 0;
  }
  .shop__location-item_msk .shop__photo {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
@media (min-width: 1028px) and (max-width: 1205px) {
  .shop__content {
    width: 93%;
  }
}
.footer {
  position: relative;
  background-color: #191919;
  padding-top: 60px;
}
.footer__content {
  position: relative;
  width: 1125px;
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  row-gap: 48px;
  color: white;
}
.footer__decoration {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1125px;
  border-top: 1px solid #2C2C2C;
  transform: translateX(-50%);
}

@media (min-width: 550px) and (max-width: 1028px) {
  .footer__content {
    width: 90%;
    row-gap: 39px;
    padding-bottom: 120px;
    align-items: flex-start;
  }
  .footer__decoration {
    width: 90%;
  }
}
@media (min-width: 1028px) and (max-width: 1205px) {
  .footer__content {
    width: 93%;
  }
  .footer__decoration {
    width: 93%;
  }
}/*# sourceMappingURL=page.css.map */