.contacts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-style: normal;
    list-style: none;
    margin: 0;

    &__link {
        color: inherit;
        font: inherit;
        text-decoration: none;
    }

    &__label {
        font-family: 'Inter', 'RF Dewi', sans-serif;
        font-weight: 400;
        line-height: 150%;
    }
    
    &__value {
        font-family: 'RF Dewi Expanded', sans-serif;
        font-weight: 800;
        line-height: 120%;
    }

    &__item {
        &_name {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);

            .contacts__value {
                font-size: 25px;
            }

            .contacts__label {
                font-family: 'RF Dewi', sans-serif;
                font-size: 16px;
                text-transform: uppercase;
            }
            
        }

        span {
            display: block;
        }
    }
}


