.contacts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-style: normal;
    list-style: none;
    padding-inline-start: 0;
    margin: 0;

    &__link {
        color: inherit;
        font: inherit;
        text-decoration: none;
    }

    &__label {
        font-family: 'Inter', 'RF Dewi', sans-serif;
        font-weight: 400;
        line-height: 150%;
    }
    
    &__value {
        font-family: 'RF Dewi Expanded', sans-serif;
        font-weight: 800;
        line-height: 120%;
    }

    &__item {
        &_name {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);

            .contacts__value {
                font-size: 25px;
                line-height: 21px;
            }

            .contacts__label {
                font-family: 'RF Dewi', sans-serif;
                font-size: 16px;
                text-transform: uppercase;
            }
            
        }

        span {
            display: block;
        }
    }
}

@media (min-width: 550px) and (max-width: 680px) {
    .contacts_place_header {
        margin-top: 194px;
        order: 1000;
    }
    .contacts_place_footer {
        .contacts__item {
            &_name {
                left: 0;
                transform: translateX(0);
            }
        }
        order: 1000;
        flex-direction: column;
        row-gap: 39px;
    }
}

@media (min-width: 680px) and (max-width: 800px) {
    .contacts_place_header {
        margin-top: 184px;
        order: 1000;
    }
    .contacts_place_footer {
        .contacts__item {
            &_name {
                left: 0;
                transform: translateX(0);
            }
        }
        order: 1000;
        flex-direction: column;
        row-gap: 39px;
    }
}

@media (min-width: 800px) and (max-width: 920px) {
    .contacts_place_header {
        margin-top: 164px;
        order: 1000;
    }
    .contacts_place_footer {
        .contacts__item {
            &_name {
                left: 0;
                transform: translateX(0);
            }
        }
        order: 1000;
        flex-direction: column;
        row-gap: 39px;
    }
}

@media (min-width: 920px) and (max-width: 1028px) {
    .contacts_place_header {
        margin-top: 154px;
        order: 1000;
    }
    .contacts_place_footer {
        .contacts__item {
            &_name {
                left: 0;
                transform: translateX(0);
            }
        }
        order: 1000;
        flex-direction: column;
        row-gap: 39px;
    }
}