.cooperation {
    background-color: #EEEEEE;

    &__content {
        margin: 0 auto 0;
        padding-top: 120px;
        padding-bottom: 120px;
        width: 1125px;
    }   
    
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        &__image {
            max-height: 211px;
        }
    }
}

@media (min-width: 550px) and (max-width: 1028px) {
    .cooperation {
       &__content {
        width: 90%;
        padding-top: 80px;
        padding-bottom: 80px;
      }
      .gallery {
        grid-template-columns: repeat(1, 58.5vw);
        justify-content: center;
      }
    }
}

@media (min-width: 1028px) and (max-width: 1205px) {
    .cooperation {
       &__content {
        width: 93%;
      }
      .gallery {
        grid-template-columns: repeat(1, 58.5vw);
        justify-content: center;
      }
    }
}