.cooperation {
    background-color: #EEEEEE;

    &__content {
        margin: 0 auto 0;
        padding-top: 120px;
        padding-bottom: 120px;
        width: 1125px;
    }   
    
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        &__image {
            max-height: 211px;
        }
    }
}

