.footer {
    position: relative;
    background-color: #191919;
    padding-top: 60px;
    &__content {
        position: relative;
        width: 1125px;
        margin: 0 auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        row-gap: 48px;
        color: white;
    }
    &__decoration {
        position: absolute;
        top: 0;
        left: 50%;
        width: 1125px;
        border-top: 1px solid #2C2C2C;
        transform: translateX(-50%);
    }
} 

@media (min-width: 550px) and (max-width: 1028px) {
    .footer {
        &__content {
            width: 90%;
            row-gap: 39px;
            padding-bottom: 120px;
            align-items: flex-start;
        }
        &__decoration {
            width: 90%;
        }
    } 
}

@media (min-width: 1028px) and (max-width: 1205px) {
    .footer {
        &__content {
            width: 93%;
        }
        &__decoration {
            width: 93%;
        }
    }
}