.gallery {
    display: grid;
    column-gap: 30px;

    &__image {
        width: 100%;
        object-fit: cover;
        border-radius: 6px;
    }

    &__title {    
        font-family: 'RF Dewi Expanded';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 120%;
        text-align: center;
        color: #191919;
        span {
            display: block;
        }
    }

    &__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #191919;
    }
}
