.presentation {
    margin-top: 100px;

    &_theme_light {
        background-image: linear-gradient(#FFFFFF 0% 50%, #EEEEEE 50%);
    }

    &_theme_dark {
        background-image: linear-gradient(#FFFFFF 0% 50%, #191919 50%);
    }

    &__art {
        width: 1125px;
        height: 350px;
        margin: 0 auto 0;
        border-radius: 15px;
        position: relative;
        
        &_theme_light {
            background-image: url("../images/presentation_theme_light.jpg");
            background-size: 150% auto;
            background-position: 45% 45%;

            &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgb(17 0 0 / 0.4);
            pointer-events: none;
            border-radius: 15px;
            z-index: 100;
            }
        }

        &_theme_dark {
            background-image: url("../images/tshirrt.jpg"), url("../images/mask.jpg");
            background-size: 50.2% auto, 50.2% auto;
            background-position: left center, right center; 
            background-repeat: no-repeat;

            &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgb(17 0 0 / 0.65);
            border-radius: 15px;
            pointer-events: none;
            z-index: 100;
            }
        }
    }
    &__title {
        font-family: 'RF Dewi Expanded';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        position: relative;
        color: #FFFFFF;
        z-index: 200;
        span {
            display: block;
        }
        &_theme_light {
            top: 80px;
        }
        &_theme_dark {
            top: 95px;
        }
    }
    &__ellipse {
        position: relative;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        background-image: url("../images/vector.svg");
        background-position: 56% center;
        background-repeat: no-repeat;
        z-index: 200;
    }

    &__text {
        width: 63%;
        margin: 0 auto 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
        position: relative;
        top: 30%;
        z-index: 200;
    }
}

@media (min-width: 550px) and (max-width: 670px) {
    .presentation {
        margin-top: 80px;
        &__art {
            width: 90%;

            &_theme_light {
            background-size: 230% auto;
            background-position: 45% 30%;
            }
            &_theme_dark {
                height: 270px;
            }
        }
        &__title {
            &_theme_dark {
                top: 38px;
            }
        }
        &__text {
            width: 96%;
            top: 15%;
        }
    }
}

@media (min-width: 670px) and (max-width: 750px) {
    .presentation {
        margin-top: 80px;
        &__art {
            width: 90%;

            &_theme_light {
            background-size: 200% auto;
            background-position: 45% 30%;
            }
            &_theme_dark {
                height: 270px;
            }
        }
        &__title {
            &_theme_dark {
                top: 38px;
            }
        }
        &__text {
            width: 95%;
            top: 15%;
        }
    }
}

@media (min-width: 750px) and (max-width: 870px) {
    .presentation {
        margin-top: 80px;
        &__art {
            width: 90%;

            &_theme_light {
            background-size: 180% auto;
            background-position: 45% 30%;
            }
            &_theme_dark {
                height: 270px;
            }
        }
        &__title {
            &_theme_dark {
                top: 38px;
            }
        }
        &__text {
            width: 95%;
            top: 15%;
        }
    }
}

@media (min-width: 870px) and (max-width: 1028px) {
    .presentation {
        margin-top: 80px;
        &__art {
            width: 90%;

            &_theme_light {
            background-size: 170% auto;
            background-position: 45% 35%;
        }
        }
        &__text {
            width: 85%;
        }
    }
}

@media (min-width: 1028px) and (max-width: 1205px) {
    .presentation {
        &__art {
            width: 93%;

            &_theme_light {
            background-size: 160% auto;
            background-position: 45% 40%;
        }
        }
    } 
}