.section-header {
    width: 100%;
    text-align: center;
    font-style: normal;
    color: #191919;
    
    &__title {
        margin-top: 0;
        font-family: 'RF Dewi Expanded';
        font-weight: 800;
        font-size: 48px;
        line-height: 110%;
        span {
            display: block;
        }
    }

    &__description {
        width: 64%;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        margin: 75px auto 96px;
    }
}

@media (min-width: 550px) and (max-width: 1028px) {
    .section-header {
        &__title {
            font-size: 5.83vw;
        }

        &__description {
            width: 100%;
            margin-bottom: 76px;
        }
    }
}