.shop {
    background: linear-gradient(#FFFFFF 25%, #191919 25%);
    &__content {
        width: 1125px;
        background: #E6E6E6;
        border-radius: 15px;
        margin: 0 auto 0;
        padding-top: 83px;
    }
    &__title {
        font-family: 'RF Dewi Expanded';
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 110%;
        text-align: center;
        color: #1A1A1A;
        margin: 0 auto 35px;
        span {
            display: block;
        }
    }
    &__description {
        width: 55%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 120%;
        text-align: center;
        color: #1A1A1A;
        margin: 0 auto 60px;
    }
    &__location {
        display: flex;
    }
    &__location-item {
        width: 50%;
        height: 472px;
        position: relative;
    }
    &__location-item_spb {
        .shop__photo {
        width: 100%;
        height: 472px;
        object-fit: cover;
        border-bottom-left-radius: 15px;
        }
    }
    &__location-item_msk {
        .shop__photo {
        width: 100%;
        height: 472px;
        object-fit: cover;
        border-bottom-right-radius: 15px;
        }
    }
    &__location-title {
        font-family: 'RF Dewi Expanded';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 120%;
        color: #FFFFFF;
        margin: 0;
        position: absolute;
        bottom: 30px;
        left: 30px;
        span {
            display: block;
        }
    }
}