.work {
    background-color: #191919;
    border-color: #191919;
    margin-top: -5px;
    padding-top: 120px;
    padding-bottom: 120px;
    
    &__content {
        width: 690px;
        margin: 0 auto 0;
        color: #FFFFFF;
    }
    &__title {
        font-family: 'RF Dewi Expanded';
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 110%;
        text-align: center;
        margin-top: 0;
    }
    &__description {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        margin-bottom: 70px;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 32px;
    }
    &__icon {
        position: relative;
        width: 114px;
        height: 114px;
        margin: 0 auto 0;
        background-image: url("../images/round.svg");
        background-position: center;
        background-repeat: no-repeat;
        &_step_request::after {
            content: '';
            display: block;
            width: 46.5px;
            height: 42.7px;
            background-image: url("../images/request.svg");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &_step_design::after {
            content: '';
            display: block;
            width: 49px;
            height: 48px;
            background-image: url("../images/design.svg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &_step_decoration::after {
            content: '';
            display: block;
            width: 40.5px;
            height: 37.25px;
            background-image: url("../images/decor.svg");
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &_step_delivery::after {
            content: '';
            display: block;
            width: 46px;
            height: 32px;
            background-image: url("../images/delivery.svg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
    }
}

@media (min-width: 550px) and (max-width: 770px) {
    .work {
        padding-top: 80px;
        padding-bottom: 80px;
        &__content {
            width: 83%;
        }
        &__items {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 90px;
        }
    }
}

@media (min-width: 770px) and (max-width: 1028px) {
    .work {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}