@import "../normalize/normalize/import-now";
@import "../blocks/fonts";
@import "../blocks/header";
@import "../blocks/contacts";
@import "../blocks/clothes-order";
@import "../blocks/cards.scss";
@import "../blocks/price.scss";