@import "../normalize/normalize/import-now";

@import "../blocks/fonts";

@import "../blocks/header";
@import "../blocks/contacts";
@import "../blocks/clothes-order";

@import "../blocks/cards.scss";
@import "../blocks/price.scss";

@import "../blocks/presentation";
@import "../blocks/section-header";

@import "../blocks/cooperation";

@import "../blocks/gallery";

@import "../blocks/decoration";

@import "../blocks/work";

@import "../blocks/manufacturing";

@import "../blocks/shop";

@import "../blocks/footer";